// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
/* Ionic Variables and Theming
 * ---------------------------------------------------------------
 * Any overrides to theme variables should be placed in this file.
 * For more information, please see:
 * http://ionicframework.com/docs/theming/
 */

/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
}

/* This sets a different background and item background for the default theme on ios */
:root.ios:not(.dark) {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md:not(.dark) {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* Dark theme for iOS */
html.ios.dark {
  --ion-background-color: #121212;
  --ion-toolbar-background: #1c1c1d;
  --ion-item-background: #1c1c1d;

  --ion-text-color: #ffffff;
  --ion-toolbar-color: #ffffff;
  --ion-item-color: #ffffff;
  --ion-icon-color: #ffffff;
  --ion-border-color: #333333;
}

/* Dark theme for md */
html.md.dark {
  --ion-background-color: #121212;
  --ion-toolbar-background: #1c1c1d;
  --ion-item-background: #1c1c1d;

  --ion-text-color: #ffffff;
  --ion-toolbar-color: #ffffff;
  --ion-item-color: #ffffff;
  --ion-icon-color: #ffffff;
  --ion-border-color: #333333;
}
