<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    @if(selectedRecipe.title) {
      <ion-title>{{selectedRecipe.title}}</ion-title>
    } @else {
      <ion-title>Recipe not found</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  @if(selectedRecipe.extendedIngredients) {
    <ion-item>
      <ion-label>
        Preparation Time: {{selectedRecipe.readyInMinutes}} mins
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">
        Ingredients
      </ion-label>
    </ion-item>
    
    @for(ingredient of selectedRecipe.extendedIngredients; track ingredient.id) {  
      <ion-card>
        <img src={{ingredientImagesBaseUrl}}{{ingredient.image}} alt="Ingredient Image">
        <ion-card-header>
          <ion-card-title>{{ingredient.original}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            @if(selectedUnitSystem == "US") {
              <ion-card-subtitle>{{ingredient.measures.us.amount}} {{ingredient.measures.us.unitLong}}</ion-card-subtitle>
            } @else {
              <ion-card-subtitle>{{ingredient.measures.metric.amount}} {{ingredient.measures.metric.unitLong}}</ion-card-subtitle>
            } 
        </ion-card-content>
      </ion-card>
    }
  }

  @if(selectedRecipe.analyzedInstructions) {
    <ion-item-divider></ion-item-divider>
    <ion-list>
      <ion-item >
        <ion-label color="primary">
          Instructions
        </ion-label>
      </ion-item>
      @for(instruction of selectedRecipe.analyzedInstructions; track instruction.name) {
        @for(step of instruction.steps; track step.number) {
          <ion-item>
            <ion-label><strong>{{step.number}}.</strong> {{step.step}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>
    <ion-item-divider></ion-item-divider>
  }
    
    @if(selectedRecipeNutrients.length > 0) {
    <ion-list>
      <ion-item>
        <ion-label color="primary">
          Nutritional Information (per serving)
        </ion-label>
      </ion-item>
      @for(nutrient of selectedRecipeNutrients; track nutrient.name) {
        <ion-item>
          <ion-label>
            <strong>{{nutrient.name}}:</strong> {{nutrient.amount}} {{nutrient.unit}}
          </ion-label>
        </ion-item>
      }
    </ion-list>
    @if(selectedRecipeIsAFavourite) {
      <ion-button (click)="removeFromFavourites()" expand="full">
        Remove from favourites
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    } @else{
      <ion-button (click)="addToFavourites()" expand="full">
        Add to favourites
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    }
  }    
</ion-content>
