<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>
        G00438812
      </ion-title>
    </div>
    <div>
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="searchString" label="Enter Ingredients"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="searchByIngredients()">Search</ion-button>

  <ion-button [routerLink]="['/recipe-details']">Details</ion-button>
   
  @if(listedRecipes) {
    @for(recipe of listedRecipes; track recipe?.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{recipe.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    }
  } 

</ion-content>